# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\毕业设计\code\attackWFP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
